@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
/* @import url(./assets/imgs/blob.svg); */



* {
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif !important;
}


a{
  text-decoration: none;
}

/* .container{
  margin: 0 0 !important;
} */

.navbar_container{
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.top_banner_text{
  text-align: center;
  width:100%;
  padding:10px;
  color:#212529;
  font-weight: 900;
  /* background-color:#f7f7f8; */
}

.navbar-brand{
  font-weight: 700;
  color:#0066ff;
}

.sign_in_btn{
  font-weight: 500 !important;
  color:#212529 !important;
}
.sign_in_btn, .active{
  font-weight: 500 !important;
  color:#212529 !important;
  background-color: #f7f7f8 !important;
}

.pro_btn{
  color:#ff77cd !important;
  font-weight: 500;
}

.nav-link{
  color:#000;
}

.navbar-toggler{
  border:none !important;
}
.navbar-toggler:focus{
  outline:none !important;
  box-shadow: none !important;
}
.navbar-toggler{
  outline:none !important;
}

.profile_icon_container{
  background-color: #0066ff;
  color:#fefefe;
  border-radius: 10px;
  font-size: 14px;
  padding:10px 15px !important;
  margin-left:10px;
  font-weight: 600;
}

.gotopbtn{
  position: fixed;
  width:50px;
  height:50px;
  background-color: #d8d8da;
  bottom:40px;
  right:50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.28);
box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.28);
}

.modal-dialog{
  display: flex;
  justify-content: center !important;
  vertical-align: middle !important;
  /* height:100%; */
  margin-top:31vh;
}

.modal_content{
  height:100px !important; 
  padding:20px !important;
}

.modal-header{
  border-bottom: none !important;
  align-items: normal;
  padding-bottom: 0;
}


.modal-footer{
  border-top:none !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 10px !important;
}

.pro_modal_title{
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  padding:20px;
}

.pro_modal_desc{
  padding:0 30px;
  color:#212529;
  font-size: 18px;
}

.pro_benefits{
  margin-bottom: 15px;
  font-size: 14px;
  color: #464853;
}

.pro_btn_price{
  width:100%;

}

.btn-close{
  padding:20px !important; 
}

/* ///////////////////////////Homepage Hero Styling/////////////////////////// */

.homepage_wrapper{
  padding:100px 10%;
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.homepage_hero_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  gap:50px;
  
}

.homepage_hero_text_container{
  display: flex;
  flex-direction: column;
  max-width: 550px;
  text-align: center;
  align-items: center;
  background-size: 500px;
  background-repeat: no-repeat;
}

.homepage_hero_title{
  font-size: 70px;
  font-weight:900;
  margin-bottom:30px;
}

.homepage_hero_text{
  color: #464853;
    line-height: 1.4em;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    max-width: 400px;
    display: flex;
    

}

.explore_btn{
  background-color: #0066ff;
  color:#fefefe;
  padding: 0px 21px;
  border-radius: 10px;
  font-size: 16px;
  height:46px;
  line-height: 46px;
  margin-bottom: 14px;
  width: 50% !important;
  align-items: center;
  cursor: pointer;
}

.about_us_btn{
  color:#000;
  background-color: none;
  padding: 0px 21px;
  border-radius: 10px;
  font-size: 16px;
  height:46px;
  line-height: 46px;
  margin-bottom: 34px;
  box-shadow: inset #d8d8da 0 0 0 1px;
  width: 50% !important;
  cursor: pointer;
}

.hero_gif{
  border-radius: 30px;
  /* rotate: 8deg; */
  width:90%;
  /* padding:20px; */
  position: relative;
  /* left:700px; */
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  
}

.blob{
  position: absolute;
  right:-200px;
  top:-100px;
  z-index: -1;
  opacity: .5;
  width:1500px;
}

.gif_container{
  display: flex;
  justify-content: center;
}

/* //////////////////bubbles section styling/////////////// */

.bubbles_section_wrapper{
  padding: 10px 5%;
  width:100%;
}

.bubbles_container{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap:2%;
  flex-wrap: wrap;
  position: relative;
  height:100%;
}

.bubble{
  background-color: #f7f7f8;
  border-radius: 15px;
  margin-bottom:30px;
}

.bubble_inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap:15px;
  /* padding:35px; */
  max-width: 250px;
  padding:25px;
}

.bubble_title{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.bubble_img{
  width:60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  top:0;
  left:35%;
  margin-bottom: 25px;
}

.bar_divider_section{
  background-color: #212529;
  color: #f7f7f8;
  margin-top:100px;
  margin-bottom:100px;
}

.filler_text{
  text-align: center;
  padding:50px 10%;
  font-size: 20px;
  font-weight: 700;
}


/* ////////////////////Footer Section styling/////////////////////// */

.footer-section{
  margin-top:50px;
  margin-bottom: 70px;
}

.footer-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:5%;
}

.footer-info-container{
  width:20%;
  display: flex;
  flex-direction: column;
}

.footer-text-email{
  font-size: 14px;
}

.footer-title{
  font-weight: bold;
  font-size: 20px;
}

.footer-icon{
  margin-right: 10px;
}

.footer-submit-btn{
  margin-top:20px;
  border:none;
  background-color: #0066ff;
  color: #fff;
  padding:13px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 11px 19px -7px rgba(0,0,0,0.75);
}

.footer-input{
  padding:10px;
  border:none;
  text-align: center;
  background-color: #f8f8f8;
}

/* ///////////////Search bar section styling///////////////// */

.search_wrapper{
  width:100%;
  height:auto;
  padding:15px 30px;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.search_container{
  padding:4px;
  border-radius: 14px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.15s ease;
  align-items: center;
  flex-grow: 1;
}

.search_input{
  border: none;
  margin:4px;
  text-indent: 12px;
  flex-basis: 250px;
  flex-grow: 1000000000;
  color: #212529 !important;
  font-size: 16px;
}

.search_input:focus{
  outline:none;
}
.search_input:active{
  outline:none;
}

.search_icon_left{
  width:25px;
}

/* ////////////////////Card Hero section styling///////////////////////// */

.buttons_container_search{
  display: flex;
  justify-content: center;
  margin-bottom:30px;
}

.filter_button{
  background-color: #212529;
  color:#fefefe;
  border-radius: 8px;
  margin-left:10px;
  padding:10px 25px;
  align-items: center;
  text-align: center;
  border:none;
}

.active{
  background-color: #0066ff;
}

.card_hero_container{
  padding:42px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:100%;
  text-align: center;
  padding:100px 0;
}

.card_hero_title{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color:#212529;
}

.card_text_container{
  justify-content: center;
  display: flex;
}

.card_hero_text{
  max-width: 400px;
  text-align: center !important;
  font-size: 20px;
  color:#464853;
  line-height: 1.7;
}

.item_container{
  display: flex;
  flex-wrap: wrap;
  gap:5px;
  justify-content: space-evenly;
  padding: 0 50px;
}

.item{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap:10px;
  background-color: #f7f7f8;
  width:19%;
  min-width:250px;
  margin-bottom: 20px;
  padding:10px;
  border-radius: 15px;
}

.item_img{
  width:100%;
  height:auto;
}

.card_name{
  text-align: center;
  color:#212529;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.category_container{
  display: flex;
  flex-direction: row;
  width:100%;
}

.category{
  background-color: #212529;
  width:50%;
  font-size: 16px;
  padding:5px 15px;
  color:#fefefe;
  margin-top:10px;
  border-radius: 5px;
text-align: center;
}

.live_link_btn{
  background-color: #d8d8da;
  width:50%;
  font-size: 16px;
  padding:5px 15px;
  color:#212529;
  font-weight: 500;
  margin-top:10px;
  border-radius: 5px;
text-align: center;
margin-bottom:1rem;
margin-left:10px;
}

.card_desc{
  text-align: center;
  color:#464853;
  margin-top:10px;
  height:48px;
}

/* /////////////////////////Pro section styling///////////////////////////////// */

.pro_header_wrapper{
  padding: 0 5%;
  align-items: center;
}

.pro_section_header{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top:100px;
  justify-content: center;
}

.pro_header_title{
  font-size: 60px;
  font-weight: 900;
}


.pro_desc_container{
  display: flex;
  justify-content: center;
  width:100%;
}

.pro_header_desc{
  display: flex;
  justify-content: center;
  margin-top:30px;
  font-size: 20px;
  /* width: 350px; */
  text-align: center !important;
  font-size: 20px;
  color: #464853;
  line-height: 1.7;
}

.pro_section_content_wrapper{
  width:100%;
  padding: 0 25%;
}

.pro_section_content_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:50px;
}

.pro_free_container, .pro_pro_container{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding:35px;
  width:100%;
  max-width: 440px;
  box-shadow: rgba(0, 0, 0, 0.11) 0 0 0 1px, rgba(0, 0, 0, 0) 0 15px 30px 0px;
  border-radius: 15px;
  margin:100px 0;
  min-width: 350px;
  
}

.pro_free_container{
  height:550px;
  
}

.pro_free_header_title, .pro_pro_header_title{
  font-weight: 900;
}

.pro_pro_header_title{
  color:#ff77cd;
}

.pro_free_text{
  height:60px;
  margin-bottom: 35px;
}

.pro_gray_text{
  color:#808080;
  font-size: 14px;
}

.pro_list_free{
  padding-left: 0 !important;
  margin-top: 40px;
}

.pro_list_item{
  line-height: 1.5;
  /* padding-left: 20px; */
  list-style:disc;
  height:40px;
  font-size: 15px;
  color:#000;
  font-weight: 500;
  list-style: none;
}

.pro_list_item:before{
  content:"\2B24";
  color: #000;
  margin-right: 20px;
  width:30px !important;
}

.pro_list_item_pro{
  line-height: 1.5;
  /* padding-left: 20px; */
  list-style:disc;
  height:40px;
  font-size: 15px;
  color:#000;
  font-weight: 500;
  list-style: none;
}

.pro_list_item_pro:before{
  content:"\1F7D0";
  color: #ff77cd;
  margin-right: 20px;
  width:30px !important;
}

.linkedin-link{
  color:#0066ff;
}

.go_pro_btn{
  text-decoration: none;
  color:#fff;
  background-color: #0066ff;
  width:100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 600;
}

.divider{
  height:40px;
  width:1px;
  margin: 0 10px;
  position:relative;
  background-color: rgba(0, 0, 0, 0.075);
}

@media screen and (max-width:1400px){
  .hero_gif{
    display: none;
    
  }

  .homepage_hero_container{
    justify-content: center;
  }

  .blob{
    display: none;
  }
}

@media screen and (max-width:990px){
  .profile_icon_container{
    margin-left: 0px;
    width:auto;
    text-align: center;
  }

  .homepage_hero_title{
    font-size: 50px;
  }

  .hero_gif{
    display: block;
    border-radius: 15px;
  }

  .homepage_hero_container{
    flex-direction: column;
    align-items: center;
  }

  .homepage_hero_text_container{
    margin-bottom:30px;
  }

  .footer-wrapper{
    flex-direction: column;
  }

  .footer-info-container{
    width:100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-text{
    margin-bottom: 8px;
    margin-left:4px;
  }

}

@media screen and (max-width:800px){
  .pro_section_content_container{
    flex-direction: column;
    /* gap:0; */
  }

  .pro_section_content_wrapper{
    padding:0 20px;
  }

  .pro_free_container, .pro_pro_container{
    width:100%;
    height: 100%;
    margin: 0 0;
    max-width: none;
    min-width: none !important;
  }

  .pro_free_container{
    margin-top:30px;
  }

  .pro_pro_container{
    margin-bottom: 30px;
  }
}

@media screen and (max-width:500px){
  .homepage_wrapper{
    padding: 5% 0%;
  }


  .bubble_inside{
    max-width:100% !important;
  }

  .bubble_text{
    min-width:300px;
    max-width: 300px;
  }

  .bubble_img{
    left:40%;
  }

  .item_container{
    padding:15px;
  }

  .item{
    width:100%;
  }

  .modal-dialog{
    margin-top:auto;
    position: absolute;
  bottom:0;
  }

  .modal{
  vertical-align: bottom !important;
  
  margin-top: auto !important;
  }
}